@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
	margin: 0;
	font-family: "Quicksand", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.admin-sidebar .profile-avatar {
	padding: 40px;
}

.admin-sidebar .welcome-container {
	text-align: center;
	margin-top: -60px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.admin-sidebar .welcome-text {
	color: #000;
	margin-top: 30px;
	color: #e0e0e0;
	font-size: 1.3rem;
	cursor: pointer;
}

.admin-sidebar .dashboard-type-text {
	color: #000;
	margin-top: -20px;
	margin-bottom: 20px;
	color: #e0e0e0;
	font-weight: bold;
	font-size: 1.4rem;
}

.admin-sidebar .avatar-text {
	color: #558b2f;
	font-size: 1.2rem;
	font-weight: bold;
}

.admin-sidebar .appbar-header {
	text-align: center;
	font-weight: bold;
	color: #4e4e4e;
	font-size: 1.3rem;
}

.admin-sidebar .toolbar {
	background-color: #eeeeee;
}

.admin-sidebar .toolbar-grow {
	flex-grow: 1;
}

.admin-sidebar .toolbar-icon {
	color: #4e4e4e !important;
}

.admin-sidebar .toolbar-icon-badge .MuiBadge-colorPrimary {
	background-color: #9370DB !important;
}

.admin-sidebar .list-item-accordion {
	color: #e0e0e0 !important;
	background-color: transparent;
	border-width: 0px !important;
	box-shadow: revert;
	letter-spacing: 0.1em;
}

.admin-sidebar .MuiAccordionSummary-content {
	margin: 0px !important;
}

.admin-sidebar .list-item-accordion:hover {
	background-color: #9370DB !important;
	color: #4e4e4e !important;
	font-weight: bold;
}

@media (min-width: 320px) and (max-width: 1024px) {
	.admin-sidebar .toolbar {
		background-image: linear-gradient(to right, #9370DB, #F8ACC6);
	}

	.appbar-header {
		color: #FFFFFF !important;
	}

	.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
		background-image: linear-gradient(180deg, #9370DB, #F8ACC6);
		padding: 0 20px;
	}

	.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
		background-color: transparent !important;
		color: #FFFFFF !important;
	}

	.welcome-container {
		text-align: center;
	}

	.dashboard-type-text {
		margin-bottom: 10px;
		color: #FFFFFF !important;
	}

	.welcome-text {
		margin-top: 10px;
		margin-bottom: 10px;
		color: #FFFFFF !important;
	}

	.css-9mgopn-MuiDivider-root {
		border-color: #FFFFFF !important;
	}

	.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
		position: initial;
		border-bottom: 1px solid #FFFFFF;
	}

	.css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-child {
		border: none;
	}

	.MuiAccordionSummary-expandIconWrapper>svg {
		color: #FFFFFF;
	}
}