.paper-form-container {
	margin: 0.8em 0.8em;
	padding: 0.5rem calc((100vw - 1350px) / 2) !important;
}

.paper-container {
	padding: 1.2rem;
}

.details-form-row {
	margin-bottom: 1rem;
}

.details-form-label {
	color: #757575;
	font-weight: 700;
	margin-bottom: 1rem;
}

.details-form-container {
	padding: 0rem 10rem 0rem 0rem;
}

.css-10i04qz-MuiInputBase-root-MuiFilledInput-root:before {
	border-bottom: none !important;
}

.css-1etbs4r-MuiInputBase-root-MuiFilledInput-root {
	padding: 0px !important;
}