.glb-theme-margin-top {
	margin-top: 0.9rem;
}

.glb-theme-margin-bottom {
	margin-bottom: 0.9rem;
}

.glb-theme-margin-top-bottom {
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
}

.glb-theme-margin-top-bottom-2 {
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
}

.glb-theme-margin-top-bottom-3 {
	margin-top: 2.7rem;
	margin-bottom: 2.7rem;
}
