.glb-theme-margin-top {
	margin-top: 0.9rem;
}

.glb-theme-margin-bottom {
	margin-bottom: 0.9rem;
}

.glb-theme-margin-top-bottom {
	margin-top: 0.9rem;
	margin-bottom: 0.9rem;
}

.glb-theme-margin-top-bottom-2 {
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
}

.glb-theme-margin-top-bottom-3 {
	margin-top: 2.7rem;
	margin-bottom: 2.7rem;
}

.theme-container {
	margin: 0.8em 0.8em;
	padding: 0.5rem calc((100vw - 1150px) / 2);
}

.theme-border-radius {
	border-radius: 14px !important;
}

.theme-cont-padding {
	padding: 1rem;
}

.ag-grid-cell-button {
	height: 2em !important;
	border-color: #a5d6a7 !important;
}

.theme-name {
	font-size: 1.3rem;
	font-weight: 700;
	color: #616161;
	margin-bottom: 1rem;
}

.theme-avatar {
	height: 70px;
	width: 70px;
}

.theme-avatar-meta-cont {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.theme-assign-info {
	margin-left: 1rem;
}

.theme-group-name {
	font-size: 1.1rem;
	color: #616161;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.theme-profile-header {
	margin-bottom: 2rem;
}

.theme-location-name {
	font-size: 0.9rem;
	color: #9e9e9e;
	font-weight: 700;
}

button {
	text-transform: none !important;
}

.theme-plan-section-margin {
	margin-top: 2rem;
}

.theme-plan-inner-section-margin {
	margin-top: 1rem;
}

.theme-plan-sub-inner-section-margin {
	margin-top: 0.5rem;
}

.theme-plan-icon-item-container {
	display: inline-flex;
}

.theme-plan-icon-item-center-container {
	display: inline-flex;
	align-items: center;
}

.theme-plan-icon-item-container .theme-plan-icon,
.theme-plan-icon-item-center-container .theme-plan-icon {
	font-size: 1.7rem;
}

.theme-plan-icon-item-container .theme-plan-text,
.theme-plan-icon-item-center-container .theme-plan-text {
	margin-left: 10px;
	margin-top: 2px;
	font-size: 0.9rem;
	font-weight: 500;
}

.theme-plan-icon-item-container .theme-plan-point-text,
.theme-plan-icon-item-center-container .theme-plan-point-text {
	margin-left: 10px;
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 500;
}

.theme-plan-icon-item-container .theme-plan-point-icon,
.theme-plan-icon-item-center-container .theme-plan-point-icon {
	font-size: 1rem;
}

.theme-plan-icon-item-container .theme-plan-subpoint-text,
.theme-plan-icon-item-center-container .theme-plan-subpoint-text {
	margin-left: 10px;
	font-size: 0.9em;
	font-weight: 500;
}

.theme-plan-icon-item-container .theme-plan-subpoint-icon,
.theme-plan-icon-item-center-container .theme-plan-subpoint-icon {
	font-size: 0.5rem;
}

.theme-plan-icon-item-container .theme-plan-point-header-text,
.theme-plan-icon-item-center-container .theme-plan-point-header-text {
	margin-left: 10px;
	font-size: 18px;
	font-weight: bold;
}

.theme-plan-icon-item-container .theme-plan-point-header-icon,
.theme-plan-icon-item-center-container .theme-plan-point-header-icon {
	font-size: 1.9rem;
}

.error-message {
	color: #cc0033;
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
}

.theme-plan-header {
	font-size: 1.2rem;
	font-weight: 700;
}

.theme-plan-sub-header {
	padding-left: 10px;
	padding: 3px 0px 3px 10px;
	border-left-width: 2px;
	border-left-style: solid;
	font-size: 1rem;
}

.theme-plan-checkbox-label {
	margin-top: 10px;
	font-size: 0.9rem;
	line-height: 20px;
	font-weight: 500;
}

.theme-plan-option-content .MuiSvgIcon-root {
	height: 0.8em;
	width: 0.8em;
}

.theme-plan-option-content {
	display: inline-flex;
	align-items: flex-start;
}

.theme-plan-description-text {
	font-size: 16px;
	font-weight: 500;
}

.theme-plan-description-underline-text {
	font-size: 15px;
	text-decoration: underline;
}

.theme-divider-grad-mask {
	margin-top: 1rem;
	width: 100%;
	height: 0.3rem;
	/* background: linear-gradient(90deg, red 0 55%, transparent 0 100%) 0 0 / 2rem 1rem; */
	mask: linear-gradient(90deg, black, transparent);
}

.plan-external-links {
	display: inline-flex;
}

.plan-external-links .link-icon {
	font-size: 1.7rem;
}

.plan-external-links .header {
	margin-top: 3px;
	margin-left: 10px;
	font-size: 1rem;
	font-weight: bold;
	color: #616161 !important;
}

.theme-plan-grid-item-left-margin {
	margin-left: 1px !important;
}

.theme-plan-inner-section-margin-2 {
	margin-top: 2rem;
}

.theme-plan-grid-margin {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

/* .plan-form .plan-content .MuiGrid-item {
	padding-top: 0px !important;
	margin-top: 0px !important;
} */

.theme-plan-premium-container {
	padding-top: 1rem;
}

.theme-plan-dollar {
	font-size: 1.5rem;
	color: #6e6e6e;
	font-weight: normal;
}

.theme-plan-premium {
	font-size: 1.5rem;
	color: #6e6e6e;
	font-weight: normal;
}

.theme-plan-total-premium {
	font-size: 1.5rem !important;
}