@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
    margin: 0;
    font-family: "Quicksand", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container-outer {
    text-align: center;
    /* background-image: url("../../../../assets/53-light-purple-gradient.jpg"); */
    background-image: url("../../../assets/53-light-purple-gradient.jpg");
    position: absolute;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.container-inner {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.card-container {
    padding: 30px;
    display: flex;
    /* flex: 1; */
    align-items: center;
    justify-content: center;
}

.MuiGrid-root {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.form-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.MuiFormLabel-root {
    font-family: "Quicksand", sans-serif;
    font-size: 1.05rem;
}

.MuiInputBase-input {
    font-family: "Quicksand", sans-serif;
}

.auth-input-icon {
    color: #7cb342;
}

.role-dropdown {
    background-color: #e0e0e0 !important;
    width: 200 !important;
}

@media only screen and (max-width: 450px) {
    .card-container {
        padding: 0;
    }

    .card-content {
        padding: 0;
    }

    .form-container {
        margin-top: -30px;
        padding: 0px 20px;
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .container-outer {
        background-image: linear-gradient(180deg, #9370DB, #F8ACC6);
    }

    .MuiPaper-elevation5 {
        border: none;
        box-shadow: none !important;
    }

    .card-container {
        background-color: transparent !important;
    }

    .login .MuiFormLabel-root {
        color: #FFFFFF;
    }

    .MuiInputBase-root {
        color: #FFFFFF !important;
    }

    .MuiFormLabel-root.Mui-focused,
    .MuiInputBase-root.Mui-focused {
        color: #FFFFFF !important;
        font-weight: 500;
    }

    .sign-up-container,
    .sign-up-container>span>a {
        color: #FFFFFF;
    }

    .MuiIconButton-root,
    .auth-input-icon {
        color: #FFFFFF;
    }

    .MuiOutlinedInput-notchedOutline {
        border: 1px solid #FFFFFF !important;
    }

    .MuiPaper-elevation1 {
        box-shadow: none !important;
    }

    .role-dropdown {
        background-color: transparent !important;
        border: 1px solid #FFFFFF !important;
    }
}