.veb-enrollment {
	font-family: "Quicksand", sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	margin: 1rem;
	border-radius: 4px;
}

.default-tab {
	width: 200px;
	/* background-color: #eeeeee !important; */
	font-size: 15px !important;
	font-weight: 800 !important;
}

.default-tab,
.active-tab {
	height: 60px !important;
}

.active-tab {
	width: 200px;

	font-size: 15px !important;
	font-weight: 800 !important;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
	/* border-left: 5px solid !important;
	border-left-color: black 1 !important; */
}

.default-tab,
.active-tab {
	font-family: "Quicksand", sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-transform: none !important;
}

.tabs-cotainer {
	position: fixed;
	top: calc(50% + 70px);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #ffffff;
	z-index: 999999;
}

.form-container {
	margin-left: 200px;
	/* overflow-y: scroll; */
}

.draggable-premium-box {
	position: absolute;
	bottom: 50%;
	right: 0px;
}

.draggable-premium-box .top-bar {
	text-align: right;
	display: flex;
	writing-mode: vertical-lr;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	text-orientation: mixed;
	cursor: pointer;
	height: 182;
	border-end-end-radius: 10px;
	border-end-start-radius: 10px;
}

.draggable-premium-box .top-bar .header {
	display: flex;
	flex: 3;
	align-items: center;
	justify-content: space-evenly;
	font-weight: bold;
	margin-left: 2px;
	padding-top: 20px;
}

.draggable-premium-box .top-bar .icon {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: flex-end;
}

.draggable-premium-box .top-bar-expand {
	display: flex;
}

.draggable-premium-box .top-bar-expand .header {
	display: flex;
	flex: 3;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	margin-left: 10px;
}

.premium-table-header {
	font-weight: bold;
}

/* CSS for New form Design */

.plan-header {
	padding: 15px;
	box-shadow: 0 0 5px 5px #e5e5e5;
	border-radius: 5px;
}

.grid-container {
	margin-left: 0px !important;
	width: 100% !important;
	margin-top: 13px !important;
	padding: 10px !important;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	position: relative;
}

.align-center {
	text-align: center;
}

.show-premium {
	text-align: center;
	color: #e02826;
	font-size: 27px;
	font-weight: 700;
	font-family: cursive;
}

.plan-text {
	margin-top: 20px;
}

.margin-adjust-33 {
	margin-top: 33px !important;
}

.align-right {
	text-align: right !important;
}

.margin-adjust {
	margin-right: 47px !important;
	margin-left: 10px !important;
}

.amount-middle {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(-50%, -50%);
}

.accordion-container {
	margin-top: 25px;
}

.css-1fjvggn-MuiPaper-root-MuiAccordion-root {
	border-radius: 5px;
}

.member-name {
	margin-top: 30px;
	font-weight: 600;
	color: #757575;
}

.radio-container {
	display: flex;
	margin-top: 10px;
}

.radio-item {
	margin-right: 30px;
}

.accordion-ques {
	max-height: 400px;
	overflow-y: scroll;
}

.margin-top-20 {
	margin-top: 20px;
}

.card-position-middle {
	max-width: 95% !important;
	width: 95% !important;
	margin: 0 auto;
}

.card-grid-container > div {
	flex-basis: 50% !important;
	margin: 0 auto;
	width: 99% !important;
	max-width: 99% !important;
}
.tooltip-speed-dial {
	font-family: cursive;
	font-size: 1.4rem;
}

.open-plan-list {
	display: none;
}
.close-plan-list {
	display: none;
}

/* =============== IPAD ================= */

@media only screen and (device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.tabs-cotainer {
		left: -500px;
	}
	.form-container {
		margin-left: 30px !important;
	}
	.show-premium {
		font-family: monospace;
	}
	.tooltip-speed-dial {
		font-family: monospace !important;
	}
	.open-plan-list {
		position: fixed;
		height: 135px;
		background-color: #e02826;
		color: #ffffff;
		left: 0px;
		padding: 6px;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		transform: rotate(360deg);
		writing-mode: vertical-lr;
		text-orientation: mixed;
		cursor: pointer;
		top: 315px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.arrow-icon {
		margin-bottom: 10px;
	}
	.close-plan-list {
		width: 100px;
		background-color: #e02826;
		color: #ffffff;
		left: 35px;
		padding: 10px;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		margin-left: 40px;
		z-index: 9999;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.show-plan {
		left: 0px;
		top: 309px;
		width: 215px;
		position: absolute;
		background-color: #ffff;
		z-index: 999999;
	}
	.show-list {
		display: block;
	}
	.hide-list {
		display: none;
	}
	.align-right {
		margin-right: -24px;
	}
}

.veb-plan-disclaimer {
	text-decoration: underline;
	cursor: pointer;
}
