.disclaimer-dialog-container {
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.disclaimer-dialog-container #alert-dialog-slide-title {
	padding: 0.8rem 1.2rem 0.6rem 1.2rem !important;
}

.disclaimer-dialog-container .custom-discliamer-dialog-content-container {
	padding: 0.2rem 1.2rem 0.9rem 1.2rem !important;
}

.custom-dialog-content {
	font-family: "Quicksand", sans-serif !important;
	font-size: 0.8rem;
}

.custom-dialog-title {
	font-family: "Quicksand", sans-serif !important;
}

.disclaimer-dialog-content-container {
	margin-top: 0.8rem !important;
	margin-bottom: 0.6rem !important;
}

.disclaimer-dialog-content-container .important-content-title {
	font-weight: 600;
	font-size: 1rem;
}

.disclaimer-dialog-content-container .important-content {
	margin-left: 0.5rem !important;
	font-size: 0.9rem !important;
}

.disclaimer-dialog-container .discalimer-dialog-action-field-container {
	margin-top: 0.8rem;
	margin-bottom: 0.2rem;
}

.disclaimer-dialog-container .enroll-disclaimer-action-btn {
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
	font-family: "Quicksand", sans-serif !important;
	height: 2.4rem;
	letter-spacing: 1px;
	width: 100%;
}

.disclaimer-dialog-container .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 0.5rem;
	font-family: "Quicksand", sans-serif !important;
}
